.container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-2 input#buscar{
    width: 50px;
    height: 50px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 12pt;
    float: left;
    color: #000;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#000;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
.container-2 input#buscar::-webkit-input-placeholder {
    color: #000;
}

.container-2 input#buscar:-moz-placeholder { /* Firefox 18- */
    color: #000;  
}

.container-2 input#buscar::-moz-placeholder {  /* Firefox 19+ */
    color: #000;  
}

.container-2 input#buscar:-ms-input-placeholder {  
    color: #000;  
}
.container-2 .icon1{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}
.container-2 input#buscar:focus, .container-2 input#buscar:active{
    outline:none;
    width: 300px;
}

.container-2:hover input#buscar{
    width: 300px;
}

.container-2:hover .icon1{
    color: green;
}

/*OTras cosas*/
#prueba{
   width:500px; 
   height: auto; 
   /*background-color:#F00;*/ 
   background: #F5F5F5;
   display:none;
   max-height: 100px;
}

.pointer:hover{
   background: #F6F4F4;
}
.resultado{
    margin-left: 40px; 
    /*width: 300px;*/
}