.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.textEncimaCentrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.letras {
  margin-bottom: 0px;
  font-size: 5vw;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;

  margin: 0;
  padding: 0;
  color: white;
}
.sombra {
  /*background-color: black; opacity: 1.1;*/
  /*background: #000;*/
  filter: brightness(0.7);
}
.act {
  width: 100%;
  height: 500px;
}
@media (max-width: 800px) {
  .act {
    /*   width: 100%;
    height: auto; */
    display: none;
  }
  .contenedor {
    filter: brightness(0.1);
  }
}
.view:hover {
  background: teal;
  border-radius: 200px;
}
.tema-text {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.tema-text2 {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", Arial, sans-serif;
}
.espaciado {
  height: 70px;
}
.letras2 {
  margin-bottom: 0px;
  font-size: 4vw;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;

  margin: 0;
  padding: 0;
  color: white;
}

/*prueba de estilos*/
.buscar-oculto {
  display: none;
}
.buscar-mostrar {
  display: block;
}
@media (max-width: 500px) {
  .txtLogo {
    display: none;
  }
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#espace {
  height: 15px;
}
@media (max-width: 700px) {
  #espace {
    height: 80px;
  }
}
@media (max-width: 1200px) {
  .footer-mystyle {
    display: none;
  }
  .logo-footer {
    display: none;
  }
}
.espace2 {
  height: 20px;
}
@media (max-width: 700px) {
  .espace2 {
    height: 90px;
  }
}
.sombra2 {
  /*    background-color: black; opacity: 1.1;
    background: #000;*/
  filter: brightness(0.7);
}

/**/
#altura1 {
  height: 600px;
  width: 100%;
}
@media (max-width: 1220px) {
  #altura1 {
    height: auto;
    width: 100%;
  }
}

/*Efecto menu*/
ul li:hover {
  background: #e7e6e3;
}
